In [1]:
import polars as pl
from polars import Config
Config.set_fmt_str_lengths(100)

polars.config.Config

### Leyendo un archivo sin encabezado
#### Funciones empiezan con minusculas (date) y tipo de datos con mayuscula (Date)

In [2]:
#./ es para subir (entrar) a la carpeta Tickets
#has_header: definir si tiene encabezado
#schema: definimos los nombres de columnas y su tipo de dato
se1 = pl.read_csv(
    source='./Tickets/SinEncabezado.txt',
    has_header=False,
    separator=';',
    schema={
        "Numero Ticket": pl.Utf8,
        "Estado": pl.Utf8,
        "Fecha Creacion": pl.Date,
        "Clasificacion": pl.Int64,
    }
)
se1.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ Numero Ticket   ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ date           ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘

In [3]:
#el mismo ejercicio de arriba, solo que a poner int a un campo texto sale error (campo Estado), pero colocando ignore_errors=True, saltamos ese error, y se pone null
se1 = pl.read_csv(
    source='./Tickets/SinEncabezado.txt',
    has_header=False,
    separator=';',
    schema={
        "Numero Ticket": pl.Utf8,
        "Estado": pl.Int64,
        "Fecha Creacion": pl.Date,
        "Clasificacion": pl.Int64,
    },
    ignore_errors=True
)
se1.head()

shape: (5, 4)
┌─────────────────┬────────┬────────────────┬───────────────┐
│ Numero Ticket   ┆ Estado ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---    ┆ ---            ┆ ---           │
│ str             ┆ i64    ┆ date           ┆ i64           │
╞═════════════════╪════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ null   ┆ 2022-06-01     ┆ 3             │
│ WO0000004122649 ┆ null   ┆ 2022-06-01     ┆ 3             │
│ WO0000004122502 ┆ null   ┆ 2022-06-01     ┆ 3             │
│ WO0000004122513 ┆ null   ┆ 2022-06-01     ┆ 3             │
│ WO0000004122741 ┆ null   ┆ 2022-06-01     ┆ 3             │
└─────────────────┴────────┴────────────────┴───────────────┘

In [28]:
se1 = pl.read_csv(
    source='./Tickets/SinEncabezado.txt',
    has_header=False,
    separator=';'   
)
se1.head()

shape: (5, 4)
┌─────────────────┬──────────┬───────────┬──────────┐
│ column_1        ┆ column_2 ┆ column_3  ┆ column_4 │
│ ---             ┆ ---      ┆ ---       ┆ ---      │
│ str             ┆ str      ┆ str       ┆ i64      │
╞═════════════════╪══════════╪═══════════╪══════════╡
│ WO0000004122687 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122649 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122502 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122513 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122741 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
└─────────────────┴──────────┴───────────┴──────────┘

In [29]:
# Renombrando columnas
se1 = se1.rename({
    'column_1': 'Numero Ticket', 'column_2': 'Estado', 'column_3': 'Fecha Creacion', 'column_4': 'Clasificacion'
})

In [30]:
se1.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ Numero Ticket   ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ str            ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘

In [31]:
# Cambiar el tipo de datos de las columnas fechas - el formato es de como está la columna
se1 = se1.with_columns(
    pl.col('Fecha Creacion').str.to_date('%d/%m/%Y')
)
se1.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ Numero Ticket   ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ date           ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘